<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="3.0" targetFramework="net45" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.5" targetFramework="net45" />
  <package id="Hardcodet.Wpf.TaskbarNotification" version="1.0.5" targetFramework="net45" />
  <package id="MahApps.Metro" version="1.5.0-alpha017" targetFramework="net45" />
  <package id="MahApps.Metro.IconPacks" version="1.8.0" targetFramework="net45" />
  <package id="ModernUICharts.WPF.Beta" version="0.9.1" targetFramework="net45" />
</packages>